
$highlight:         #71C39E;
$highlightDark:     #54A283;  // accessible on white bg


$secondary:         #2C5D7E;
$secondaryDark:     #37424A;


$greyLight:         #F5F5F5;
$greyDark:          #333;
$borderGrey:        #D2D2D4;


$textGrey:          #555;
$textGreyLight:     #777;     // lightest accessible grey on white bg


$radius:            4px;
