body.page-dashboard {
  #about {
    margin-bottom: 0;
  }
}

.dashboard {
  padding: 0;
  margin-bottom: 1.5em;
  &.bg-primary {
    @include background-gradient(mix($highlight,$secondary,80%), mix($highlight,$secondary,20%), $secondary);
    .grid-item {
      .int {
        strong {
          color: #fff;
        }
      }
    }
  }
  &.light {
    .grid-item {
      .int {
        // the below is a Sass function in the Drupal theme's Sass:
        background: -webkit-linear-gradient(25deg,#2C5D7E,#54A283)!important;
        -webkit-background-clip: text!important;
        -webkit-text-fill-color: transparent;
        color: $highlightDarker;
        display: block;
      }
      [class*=" icon-"],
      [class^=icon-] {
        font-size: 100px;
        &:before {
          padding: 5px;
          // the below is a Sass function in the Drupal theme's Sass:
          background: -webkit-linear-gradient(25deg,#2C5D7E,#54A283)!important;
          -webkit-background-clip: text!important;
          -webkit-text-fill-color: transparent;
          color: $highlightDarker;
        }
      }
    }
  }
  .grid-item {
    margin: 3em 0 3.5em;
    [class*=" icon-"],
    [class^=icon-] {
      font-size: 100px;
    }
    h2,
    h3 {
      font-weight: 200;
      margin: 0;
    }
    .int {
      // margin-bottom: 8px;
      font-size: 150%;
      strong {
        color: $highlightDark;
        font-size: 330%;
        font-weight: 400;
      }
    }
    small {
      font-size: 1em;
      display: block;
    }
  }
}
