// IE 10 & 11
@media all and (-ms-high-contrast:none) {
  // *::-ms-backdrop {     // IE11 only

  .split.testimonial {
    .arrow:after {
      border: 0;  // hide the arrow
    }
    .section-two {
      padding: 0;
      img {
        transform: translateY(-50%);
        margin-left: 60px;
      }
    }
  }

}
