// Create an animated background gradient on an angle
@mixin background-gradient($colour1,$colour2,$colour3) {
  background-color: $colour1;
  background: linear-gradient(
    11deg, $colour1, $colour2, $colour3 );
  background-size: 400% 400%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


// Globally used body font declaration
@mixin body-font() {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin blurBG() {
  $blurAmount: 10px;
  -webkit-backdrop-filter: blur($blurAmount);
  backdrop-filter: blur($blurAmount);
}
